@import '~styles/variables';

.form-group {
  display: flex;
}

.form-group + .form-group {
  margin-top: 4.07em;
}

.form-group__description {
  width: 20.43em;
  flex-shrink: 0;
  margin-right: 1.71em;
}

.form-group__name {
  font-family: $b-font-family-regular;
  font-weight: normal;
  color: $b-color-headline;
  font-size: 1.29em;
  line-height: 1.71em;
  letter-spacing: .021em;
  margin: 0;
}

.form-group__text {
  margin-top: .29em;
  letter-spacing: .014em;
}

.form-group__control {
  flex-grow: 1;
}

.form-group__label {
  margin: 1em 0;
  font-family: $b-font-family-bold;
  color: $b-color-form-label;
  text-transform: uppercase;
  font-size: .79em;
}

.form-group__remark {
  color: $b-color-text;
}

.form-group__section + .form-group__section {
  margin-top: 3.43em;
}