@import '~styles/variables';

.btn-solid {
  border-radius: 8px;
  padding: .93em 1.07em;
  border: none;
  font-family: $b-font-family-bold;
  user-select: none;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: .5;
    cursor: default;
  }
}

.btn-solid--primary {
  background: $b-color-btn-solid--primary-background;
  color: $b-color-btn-solid--primary-text-color;

  &:hover:not(:disabled) {
    background: $b-color-btn-solid--primary-background-hover;
  }

  &:active:not(:disabled) {
    background: $b-color-btn-solid--primary-background-active;
  }
}

.btn-solid--secondary {
  background: $b-color-btn-solid--secondary-background;
  color: $b-color-btn-solid--secondary-text-color;

  &:hover:not(:disabled) {
    background: $b-color-btn-solid--secondary-background-hover;
  }

  &:active:not(:disabled) {
    background: $b-color-btn-solid--secondary-background-active;
  }
}