@import '~styles/variables';

.pill {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid $b-color-border;
  padding: .86em .5em;
  user-select: none;
}

.pill__text {
  white-space: nowrap;
  letter-spacing: .014em;
}

.pill__remove {
  flex-shrink: 0;
  margin-left: 1em;
  cursor: pointer;
  position: relative;
  color: $b-color-times-icon-color;
  font-size: .86em;

  &:after {
    content: '';
    position: absolute;
    top: -.86em;
    left: -.5em;
    right: -.5em;
    bottom: -.86em;
  }
}