@import '~styles/variables';

.textarea {
  position: relative;
  border: 1px solid $b-color-border;
  width: 100%;
}

.textarea__control {
  color: $b-color-text;
  padding: .3em .79em .79em .79em;
  border: none;
  width: calc(100% - (.79em * 2));
  min-height: 8.79em;
}

.textarea__label {
  margin: 1em 1em 0 1em !important;
}