@import '~styles/variables';

.members-list {
  height: calc(100% - 5em);
  overflow: hidden;

  > div:focus {
    outline: none;
  }
}

.members-list__header {
  display: flex;

  .members-list__cell {
    color: $b-color-headline;
    font-family: $b-font-family-bold;
    text-align: left;
    height: auto;
  }
}

.members-list__row {
  display: flex;
}

.members-list__cell {
  display: flex;
  align-items: flex-start;;
  justify-content: center;
  flex-direction: column;
  background: $b-members-list-background;
  text-align: left;
  height: calc(5em - (.57em * 2));
  padding: .57em;
  flex-shrink: 0;
  flex-grow: 0;

  .members-list__row:hover & {
    background: $b-members-list-background--hover;
    border-color: $b-members-list-background--hover;
  }

  .members-list__row--selected &,
  .members-list__row--selected:hover &{
    background: $b-members-list-background--selected;
    border-color: $b-members-list-background--selected;
  }
}

.members-list__cell--photo {
  width: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.members-list__cell--name,
.members-list__cell--role,
.members-list__cell--company {
  width: calc((100% - (4em + .57em * 2) - (1.71em + .57em * 2) - .57em * 6) / 3);
}

.members-list__cell--action {
  width: 1.71em;
}

.members-list__photo {
  border-radius: 50%;
  height: 2.86em;
  width: 2.86em;
}

.members-list__name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.14em;
  color: $b-color-headline;
  font-family: $b-font-family-bold;
}

.members-list__email {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: .29em;
}