@import './variables';

@font-face {
  font-family: $b-font-family-regular;
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Regular'), url('../assets/fonts/Raleway-Regular.woff') format('woff');
}

@font-face {
  font-family: $b-font-family-bold;
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Bold'), url('../assets/fonts/Raleway-Bold.woff') format('woff');
}