@import '~styles/variables';

body {
  font-family: $b-font-family-regular;
  font-size: 14px;
  line-height: 1.4em;
  color: $b-color-text;
  margin: 0;
}

textarea, select, input, button {
  outline: none;
}

.container {
  width: 805px;
  margin: 0 auto;
}

.headline--primary {
  font-family: $b-font-family-bold;
  color: $b-color-headline;
  font-size: 1.7em;
  line-height: 2.3em;
}