/* Fonts */
$b-font-family-regular: "Raleway-Regular, Open Sans, sans-serif";
$b-font-family-bold: "Raleway-Bold, Open Sans, sans-serif";

/* Global colors */
$b-color-text: #636363;
$b-color-headline: #313131;
$b-color-border: #f5f5f5;
$b-color-form-label: #032529;
$b-color-modal-background: #ffffff;
$b-color-modal-box-shadow: rgba(#000000, .2);
$b-color-times-icon-color: #999999;

/*
 * Members list
 *
 * For performance reasons colors are precalculated
 * Hover background color should be calculated by applying black color layer with 5% opacity
 * Selected background color should be calculated by applying #fd8308 color layer with 15% opacity
 */
$b-members-list-background: transparent;
$b-members-list-background--hover: #f2f2f2;
$b-members-list-background--selected: #fceddc;

/*
 * Buttons
 *
 * For performance reasons colors are precalculated
 * Hover background color should be calculated by applying black color layer with 10% opacity
 * Active background color should be calculated by applying black color layer with 10% opacity twice
 */
$b-color-btn-solid--primary-text-color: #ffffff;
$b-color-btn-solid--primary-background: #fd8308;
$b-color-btn-solid--primary-background-hover: #d67a2f;
$b-color-btn-solid--primary-background-active: #bf6d29;

$b-color-btn-solid--secondary-text-color: #313131;
$b-color-btn-solid--secondary-background: #f5f5f5;
$b-color-btn-solid--secondary-background-hover: #dcdcdc;
$b-color-btn-solid--secondary-background-active: #c5c5c5;
