@import '~styles/variables';

.respondent {
  display: flex;
  align-items: center;
  border: 1px solid $b-color-border;
  padding: 1.14em;
  border-radius: 4px;
}

.respondent__photo {
  flex-shrink: 0;
  height: 2.86em;
  width: 2.86em;
  border-radius: 50%;
  margin-right: 1.14em;
}

.respondent__details {
  flex-grow: 1;
}

.respondent__name {
  font-size: 1.14em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $b-color-headline;
  font-family: $b-font-family-bold;
}

.respondent__email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: .29em;
}

.respondent__change {
  flex-shrink: 0;
}

.respondent__remove {
  flex-shrink: 0;
  margin-left: 1.14em;
  cursor: pointer;
  position: relative;
  color: $b-color-times-icon-color;

  &:after {
    content: '';
    position: absolute;
    top: -1.14em;
    left: -1.14em;
    right: -1.14em;
    bottom: -1.14em;
  }
}