@import '~styles/variables';

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.modal {
  background: $b-color-modal-background;
  border-radius: 16px;
  box-shadow: 0 0 2px 0 $b-color-modal-box-shadow;
  height: calc(100vh - 6rem); //@todo drop rem
  width: 57.5em;
  overflow: hidden;
  margin: auto;
}

.modal__header {
  padding: 1.71em 3.43em;
  position: relative;
}

.modal__title {
  font-family: $b-font-family-bold;
  color: $b-color-headline;
  font-size: 1.7em;
}

.modal__close {
  position: absolute;
  top: 2.14em;
  right: 2.14em;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: -2.14em;
    left: -2.14em;
    right: -2.14em;
    bottom: -2.14em;
  }
}

.modal__content {
  height: calc(100% - 11.21em);
  margin: 0 3.43em;
}

.modal__footer {
  border-top: 1px solid $b-color-border;
  padding: 1.71em 3.43em;
}