@import '~styles/variables';

.rfi {
  margin: 6.85em 0;
}

.rfi__header {
  min-height: 4.57em;
  border-bottom: 1px solid $b-color-border;
  margin-bottom: 2.28em;
}

.rfi__followers {
  display: flex;
  flex-wrap: wrap;
  margin: -.39em;
}

.rfi__follower {
  margin: .39em;
}

.rfi__btn {
  margin: 1.14em 0;
}

.rfi__respondent {
  margin-top: .57em;
}